
@media only screen and (min-device-width : 360px) and (max-device-width : 640px)  { 
	/* Styles */ 
	*{
		font-family: "Source Sans Pro", sans-serif;
		max-width: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}
	nav {

		position: static;
	} 
	nav:after {
		content: "";
		display: block;
		clear: both;
	}
	#title{
		position:relative; 
		color:white; 
		margin-left:130px; 
		margin-top: 5%; 
		font-size:30px; 
		font-weight: bold;	
	}

	.navlink:link{
		display:none;

	}
	.navlink2:link{
		top:35px;
		color:grey;
		font-size: 15px;
		text-decoration: none;
	}

	.navlink2:hover{
		color:white;
		font-weight: bold;

	}

	.heading{
		color:white; 
		font-size:25px; 
		text-transform: uppercase;
	}
	.buttonR{
		position:absolute; 
		margin-left:-35px; 
		color:white; 
		background:rgb(35,52,69); 
		border-width:0px; 
		width:70px; 
		height:50px;
	}
	.table_pic{
		height:150px; 
		background-color: #fff; 
		padding: 5px;
	}

	hr{
		position:absolute; 
		margin-top:10px; 
		border-width:0px; 
		background:#ccccb3; 
		height:5px; 
		width:15%;
	}
	#stg{
		margin-left:40px; 
	}

	#drt{
		margin-left:80%;
	}
	.abouttxt{
		position:relative; 
		color:black; 
		font-size:25px; 
		font-weight: 300; 
		-webkit-font-smoothing: antialiased;
	}
	#text_about{
		padding-top:20px; 
		padding-left:5%;  
		padding-right:5%; 
		text-align: center;     
		text-justify: inter-word;
	}

	.footer{
		margin-top:0px; 
		margin-right:-50px; 
		background:rgb(35,52,69); 
		height:950px;
	}

	.footpic{
		margin-top: 20px;
		margin-right: 10px;
	}

	.footer_text{
		color:white;
		font-weight: bold; 
		margin-left:250px; 
		margin-top:-25px;
	}

	.table{
		border-spacing: 70px;
		border-collapse: separate;
		text-align:center; 
		margin-left:30px; 
		

		display: table;

	}
	.cell {
		display: block;
		width:350px;
		margin-left:30px;
		padding-bottom: 20px;
	}
	.row {

		display: block;
	}

	#firstfooterpic{
		margin-left: 450px;
	}
	#firstfooterpic1{
		margin-left: 450px;
	}
	.foot{
		display: block;
	}

	.footerascuns{
		display:block;
	}
	#hr2{
		display:block;
	}

#frm1{
	position:relative;
	margin-top:50px;
	margin-left:25px;
	margin-right:25px;
	height:700px;
	background:#FBEBA2;
	padding-left:10px;
	padding-top:60px;
	padding-bottom:140px;


}

.formtext{
	margin-left:3px;
}
.endavatxt{
	position:relative; 
	color:grey; 
	font-size:40px; 
	margin-left:30px;
	font-weight: 200; 
	-webkit-font-smoothing: antialiased;
}
input[type="text"] {
  display: block;
  margin-left: 3px;
  width: 370px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


.butonsend{
	position:absolute; 
	margin-top:300px;
		margin-left:-180px; 
		color:white; 
		background:#30c3a6; 
		border-width:0px; 
		width:370px; 
		height:50px;
}

.area{
	position:absolute;
	margin-top:-410px;
	margin-left:-170px;
	resize: none;

}

.areatxt{
	position:absolute;
	margin-top:-450px;
	margin-left:420px;

}
.mobile{
	height:1200px;
}

} 

@media only screen and (min-device-width : 768px) and (max-device-width : 688px)  { 
	/* Styles */ 
	*{
		font-family: "Source Sans Pro", sans-serif;
		max-width: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}
	nav {

		position: static;
	} 
	nav:after {
		content: "";
		display: block;
		clear: both;
	}
	#title{
		position:relative; 
		color:white; 
		margin-left:130px; 
		margin-top: 5%; 
		font-size:30px; 
		font-weight: bold;	
	}

	.navlink:link{
		display:none;

	}
	.navlink2:link{
		top:35px;
		color:grey;
		font-size: 15px;
		text-decoration: none;
	}

	.navlink2:hover{
		color:white;
		font-weight: bold;

	}

	.heading{
		color:white; 
		font-size:25px; 
		text-transform: uppercase;
	}
	.buttonR{
		position:absolute; 
		margin-left:-35px; 
		color:white; 
		background:rgb(35,52,69); 
		border-width:0px; 
		width:70px; 
		height:50px;
	}
	.table_pic{
		height:150px; 
		background-color: #fff; 
		padding: 5px;
	}

	hr{
		position:absolute; 
		margin-top:10px; 
		border-width:0px; 
		background:#ccccb3; 
		height:5px; 
		width:15%;
	}
	#stg{
		margin-left:40px; 
	}

	#drt{
		margin-left:80%;
	}
	.abouttxt{
		position:relative; 
		color:black; 
		font-size:25px; 
		font-weight: 300; 
		-webkit-font-smoothing: antialiased;
	}
	#text_about{
		padding-top:20px; 
		padding-left:5%;  
		padding-right:5%; 
		text-align: center;     
		text-justify: inter-word;
	}

	.footer{
		margin-top:0px; 
		margin-right:-50px; 
		background:rgb(35,52,69); 
		height:400px;
	}

	.footpic{
		margin-top: 20px;
		margin-right: 10px;
	}

	.footer_text{
		color:white;
		font-weight: bold; 
		margin-left:150px; 
		margin-top:-25px;
	}

	.table{
		border-spacing: 70px;
		border-collapse: separate;
		text-align:center; 
		margin-left:auto; 
		margin-right:auto;
		padding-left: 0px;
		padding-right: 180px;

		display: table;

	}
	.cell {
		display: block;
		width:350px;
		padding-bottom: 20px;
	}
	.row {
		display: block;
	}

	#firstfooterpic{
		margin-left: 200px;
	}
	#firstfooterpic1{
		margin-left: 200px;
	}
	.foot{
		display: block;
	}

	.footerascuns{
		display:block;
	}
	#hr2{
		display:block;
	}

#frm1{
	position:relative;
	margin-top:50px;
	margin-left:25px;
	margin-right:25px;
	height:700px;
	background:#FBEBA2;
	padding-left:10px;
	padding-top:60px;
	padding-bottom:140px;


}

.formtext{
	margin-left:3px;
}
.endavatxt{
	position:relative; 
	color:grey; 
	font-size:40px; 
	margin-left:30px;
	font-weight: 200; 
	-webkit-font-smoothing: antialiased;
}
input[type="text"] {
  display: block;
  margin-left: 3px;
  width: 370px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


.butonsend{
	position:absolute; 
	margin-top:300px;
		margin-left:4px; 
		color:white; 
		background:#30c3a6; 
		border-width:0px; 
		width:370px; 
		height:50px;
}

.area{
	position:absolute;
	margin-top:-410px;
	margin-left:40px;
	resize: none;

}

.areatxt{
	position:absolute;
	margin-top:-450px;
	margin-left:40px;

}
.mobile{
	height:1500px;
}

} 

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)  { 
	/* Styles */ 
	*{
		font-family: "Source Sans Pro", sans-serif;
		max-width: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}
	nav {

		position: static;
	} 
	nav:after {
		content: "";
		display: block;
		clear: both;
	}
	#title{
		position:relative; 
		color:white; 
		margin-left:130px; 
		margin-top: 5%; 
		font-size:30px; 
		font-weight: bold;	
	}

	.navlink:link{
		display:none;

	}
	.navlink2:link{
		top:35px;
		color:grey;
		font-size: 15px;
		text-decoration: none;
	}

	.navlink2:hover{
		color:white;
		font-weight: bold;

	}

	.heading{
		color:white; 
		font-size:25px; 
		text-transform: uppercase;
	}
	.buttonR{
		position:absolute; 
		margin-left:-35px; 
		color:white; 
		background:rgb(35,52,69); 
		border-width:0px; 
		width:70px; 
		height:50px;
	}
	.table_pic{
		height:150px; 
		background-color: #fff; 
		padding: 5px;
	}

	hr{
		position:absolute; 
		margin-top:10px; 
		border-width:0px; 
		background:#ccccb3; 
		height:5px; 
		width:15%;
	}
	#stg{
		margin-left:40px; 
	}

	#drt{
		margin-left:80%;
	}
	.abouttxt{
		position:relative; 
		color:black; 
		font-size:25px; 
		font-weight: 300; 
		-webkit-font-smoothing: antialiased;
	}
	#text_about{
		padding-top:20px; 
		padding-left:5%;  
		padding-right:5%; 
		text-align: center;     
		text-justify: inter-word;
	}

	.footer{
		margin-top:0px; 
		margin-right:-50px; 
		background:rgb(35,52,69); 
		height:950px;
	}

	.footpic{
		margin-top: 20px;
		margin-right: 10px;
	}

	.footer_text{
		color:white;
		font-weight: bold; 
		margin-left:250px; 
		margin-top:-25px;
	}

	.table{
		border-spacing: 70px;
		border-collapse: separate;
		text-align:center; 
		margin-left:30px; 
		

		display: table;

	}
	.cell {
		display: block;
		width:350px;
		margin-left:30px;
		padding-bottom: 20px;
	}
	.row {

		display: block;
	}

	#firstfooterpic{
		margin-left: 450px;
	}
	#firstfooterpic1{
		margin-left: 450px;
	}
	.foot{
		display: block;
	}

	.footerascuns{
		display:block;
	}
	#hr2{
		display:block;
	}

#frm1{
	position:relative;
	margin-top:50px;
	margin-left:25px;
	margin-right:25px;
	height:700px;
	background:#FBEBA2;
	padding-left:10px;
	padding-top:60px;
	padding-bottom:140px;


}

.formtext{
	margin-left:3px;
}
.endavatxt{
	position:relative; 
	color:grey; 
	font-size:40px; 
	margin-left:30px;
	font-weight: 200; 
	-webkit-font-smoothing: antialiased;
}
input[type="text"] {
  display: block;
  margin-left: 3px;
  width: 370px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


.butonsend{
	position:absolute; 
	margin-top:300px;
		margin-left:-180px; 
		color:white; 
		background:#30c3a6; 
		border-width:0px; 
		width:370px; 
		height:50px;
}

.area{
	position:absolute;
	margin-top:-410px;
	margin-left:-170px;
	resize: none;

}

.areatxt{
	position:absolute;
	margin-top:-450px;
	margin-left:420px;

}
.mobile{
	height:1200px;
}

} 

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
*{
	font-family: "Source Sans Pro", sans-serif;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}
nav {
	border-top: 1px solid #F7F0EF;
	border-bottom: 1px solid #EFEAEA;
	position: static;
} 
nav:after {
	content: "";
	display: block;
	clear: both;
}

#title{
	position:relative; 
	color:white; 
	margin-left:39%; 
	margin-top: 5%; 
	font-size:50px; 
	font-weight: bold;
}
.navlink:link{
	position:absolute;
	top:35px;
	color:grey;
	font-size: 15px;
	background: white;
	text-decoration: none;
}
.navlink:hover{
	color:rgb(35,52,69);
	font-weight: bold;
}

.heading{
	color:white; 
	font-size:25px; 
	text-transform: uppercase;
}

.table_pic{
	height:150px; 
	background-color: #fff; 
	padding: 5px;
}

.buttonR{
	position:absolute; 
	margin-left:-35px; 
	color:white; 
	background:rgb(35,52,69); 
	border-width:0px; 
	width:70px; 
	height:50px;
}
hr{
	position:absolute; 
	margin-top:10px; 
	border-width:0px; 
	background:#ccccb3; 
	height:5px; 
	width:15%;
}
#stg{
	margin-left:25%; 
}

#drt{
	margin-left:60%;
}
.abouttxt{
	position:relative; 
	color:black; 
	font-size:25px; 
	font-weight: 300; 
	-webkit-font-smoothing: antialiased;
}
.contacttxt{
	position:relative; 
	color:white; 
	font-size:25px; 
	font-weight: 300; 
	-webkit-font-smoothing: antialiased;
}
#text_about{
	padding-top:20px; 
	padding-left:25%;  
	padding-right:25%; 
	text-align: justify;     
	text-justify: inter-word;
}

.footer{
	margin-top:0px; 
	margin-right:-50px; 
	background:rgb(35,52,69); 
	height:80px;
}

.footpic{
	margin-top: 20px;
	margin-right: 10px;
}

.footer_text{
	color:white;
	font-weight: bold; 
	margin-left:70%; 
	margin-top:-25px;
}

#firstfooterpic{
	margin-left: 55%;
}

.table {
	border-spacing: 30px;
	border-collapse: separate;
	text-align:center; 
	margin-right:20;
	padding-left: 80px;
	padding-right: 80px;

	display: table;
}
.row {
	display: table-row;
}
.cell {

	display: table-cell;

}

.foot{
	display:none;
}

#hr2{
	display:none;
}
.footerascuns{
	display:none;
}

#frm1{
	position:relative;
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;

	background:#FBEBA2;
	padding-left:200px;
	padding-top:60px;
	padding-bottom:140px;


}

.formtext{
	margin-left:-425px;
}
.endavatxt{
	position:relative; 
	color:grey; 
	font-size:40px; 
	margin-left:-100px;
	font-weight: 200; 
	-webkit-font-smoothing: antialiased;
}
input[type="text"] {
  display: block;
  margin-left: -605px;
  width: 370px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


.butonsend{
	position:absolute; 
		margin-left:-305px; 
		color:white; 
		background:#30c3a6; 
		border-width:0px; 
		width:370px; 
		height:50px;
}

.area{
	position:absolute;
	margin-top:-413px;
	margin-left:40px;
    resize: none;

}

.areatxt{
	position:absolute;
	margin-top:-450px;
	margin-left:55%;

}

.mobile{
	height:800px;
}

}