*{
	font-family: "Source Sans Pro", sans-serif;
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden; 
}
nav {
	border-top: 1px solid #F7F0EF;
	border-bottom: 1px solid #EFEAEA;
	position: static;
} 
nav:after {
	content: "";
	display: block;
	clear: both;
}

#title{
	position:relative; 
	color:white; 
	margin-left:39%; 
	margin-top: 5%; 
	font-size:50px; 
	font-weight: bold;
}
.navlink:link{
	position:absolute;
	top:35px;
	color:grey;
	font-size: 15px;
	background: white;
	text-decoration: none;
}
.navlink:hover{
	color:rgb(35,52,69);
	font-weight: bold;
}

.heading{
	color:white; 
	font-size:25px; 
	text-transform: uppercase;
}

.table_pic{
	height:150px; 
	background-color: #fff; 
	padding: 5px;
}

.buttonR{
	position:absolute; 
	margin-left:-35px; 
	color:white; 
	background:rgb(35,52,69); 
	border-width:0px; 
	width:70px; 
	height:50px;
}
hr{
	position:absolute; 
	margin-top:10px; 
	border-width:0px; 
	background:#ccccb3; 
	height:5px; 
	width:15%;
}
#stg{
	margin-left:25%; 
}

#drt{
	margin-left:60%;
}
.abouttxt{
	position:relative; 
	color:black; 
	font-size:25px; 
	font-weight: 300; 
	-webkit-font-smoothing: antialiased;
}
.contacttxt{
	position:relative; 
	color:white; 
	font-size:25px; 
	font-weight: 300; 
	-webkit-font-smoothing: antialiased;
}
#text_about{
	padding-top:20px; 
	padding-left:25%;  
	padding-right:25%; 
	text-align: justify;     
	text-justify: inter-word;
}

.footer{
	margin-top:0px; 
	margin-right:-50px; 
	background:rgb(35,52,69); 
	height:80px;
}

.footpic{
	margin-top: 20px;
	margin-right: 10px;
}

.footer_text{
	color:white;
	font-weight: bold; 
	margin-left:70%; 
	margin-top:-25px;
}

#firstfooterpic{
	margin-left: 55%;
}

.table {
	border-spacing: 70px;
	border-collapse: separate;
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
	padding-left: 180px;
	padding-right: 180px;

	display: table;
}
.row {
	display: table-row;
}
.cell {

	display: table-cell;

}

.foot{
	display:none;
}

#hr2{
	display:none;
}
.footerascuns{
	display:none;
}

#frm1{
	position:relative;
	margin-top:50px;
	margin-left:250px;
	margin-right:250px;

	background:#FBEBA2;
	padding-left:200px;
	padding-top:60px;
	padding-bottom:140px;


}

.formtext{
	margin-left:-475px;
}
.endavatxt{
	position:relative; 
	color:grey; 
	font-size:40px; 
	margin-left:-100px;
	font-weight: 200; 
	-webkit-font-smoothing: antialiased;
}
input[type="text"] {
  display: block;
  margin-left: -705px;
  width: 370px;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}


.butonsend{
	position:absolute; 
		margin-left:-305px; 
		color:white; 
		background:#30c3a6; 
		border-width:0px; 
		width:370px; 
		height:50px;
}

.area{
	position:absolute;
	margin-top:-413px;
	margin-left:5px;
    resize: none;

}

.areatxt{
	position:absolute;
	margin-top:-450px;
	margin-left:50%;

}

.mobile{
	height:800px;
}
